.elementor-1989 .elementor-element.elementor-element-ff35d45 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1989 .elementor-element.elementor-element-ff35d45>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1989 .elementor-element.elementor-element-cc5388b>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1989 .elementor-element.elementor-element-cc5388b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 30px 0px 80px 0px;
}

.elementor-1989 .elementor-element.elementor-element-cc5388b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-1989 .elementor-element.elementor-element-078b324.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
}

.elementor-1989 .elementor-element.elementor-element-078b324.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-1989 .elementor-element.elementor-element-078b324>.elementor-element-populated {
    margin: 0px 25px 0px 0px;
    --e-column-margin-right: 25px;
    --e-column-margin-left: 0px;
}

.elementor-1989 .elementor-element.elementor-element-bc48a9c.elementor-view-stacked .elementor-icon {
    background-color: #F0F5FD;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-1989 .elementor-element.elementor-element-bc48a9c.elementor-view-framed .elementor-icon,
.elementor-1989 .elementor-element.elementor-element-bc48a9c.elementor-view-default .elementor-icon {
    fill: #F0F5FD;
    color: #F0F5FD;
    border-color: #F0F5FD;
}

.elementor-1989 .elementor-element.elementor-element-bc48a9c.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-1989 .elementor-element.elementor-element-bc48a9c.elementor-view-stacked .elementor-icon:hover {
    background-color: #F0F5FD;
}

.elementor-1989 .elementor-element.elementor-element-bc48a9c.elementor-view-framed .elementor-icon:hover,
.elementor-1989 .elementor-element.elementor-element-bc48a9c.elementor-view-default .elementor-icon:hover {
    fill: #F0F5FD;
    color: #F0F5FD;
    border-color: #F0F5FD;
}

.elementor-1989 .elementor-element.elementor-element-bc48a9c {
    --icon-box-icon-margin: 36px;
}

.elementor-1989 .elementor-element.elementor-element-bc48a9c .elementor-icon {
    font-size: 42px;
    padding: 28px;
}

.elementor-1989 .elementor-element.elementor-element-bc48a9c .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-1989 .elementor-element.elementor-element-bc48a9c .elementor-icon-box-title {
    color: var(--e-global-color-secondary);
}

.elementor-1989 .elementor-element.elementor-element-bc48a9c .elementor-icon-box-title,
.elementor-1989 .elementor-element.elementor-element-bc48a9c .elementor-icon-box-title a {
    font-size: 18px;
    font-weight: 600;
    line-height: 2.4em;
}

.elementor-1989 .elementor-element.elementor-element-bc48a9c>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-1989 .elementor-element.elementor-element-6a99b52.elementor-view-stacked .elementor-icon {
    background-color: #F0F5FD;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-1989 .elementor-element.elementor-element-6a99b52.elementor-view-framed .elementor-icon,
.elementor-1989 .elementor-element.elementor-element-6a99b52.elementor-view-default .elementor-icon {
    fill: #F0F5FD;
    color: #F0F5FD;
    border-color: #F0F5FD;
}

.elementor-1989 .elementor-element.elementor-element-6a99b52.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-1989 .elementor-element.elementor-element-6a99b52.elementor-view-stacked .elementor-icon:hover {
    background-color: #F0F5FD;
}

.elementor-1989 .elementor-element.elementor-element-6a99b52.elementor-view-framed .elementor-icon:hover,
.elementor-1989 .elementor-element.elementor-element-6a99b52.elementor-view-default .elementor-icon:hover {
    fill: #F0F5FD;
    color: #F0F5FD;
    border-color: #F0F5FD;
}

.elementor-1989 .elementor-element.elementor-element-6a99b52 {
    --icon-box-icon-margin: 36px;
}

.elementor-1989 .elementor-element.elementor-element-6a99b52 .elementor-icon {
    font-size: 42px;
    padding: 28px;
}

.elementor-1989 .elementor-element.elementor-element-6a99b52 .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-1989 .elementor-element.elementor-element-6a99b52 .elementor-icon-box-title {
    color: var(--e-global-color-secondary);
}

.elementor-1989 .elementor-element.elementor-element-6a99b52 .elementor-icon-box-title,
.elementor-1989 .elementor-element.elementor-element-6a99b52 .elementor-icon-box-title a {
    font-size: 18px;
    font-weight: 600;
    line-height: 2.4em;
}

.elementor-1989 .elementor-element.elementor-element-6a99b52>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-1989 .elementor-element.elementor-element-e1ccdbd.elementor-view-stacked .elementor-icon {
    background-color: #F0F5FD;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-1989 .elementor-element.elementor-element-e1ccdbd.elementor-view-framed .elementor-icon,
.elementor-1989 .elementor-element.elementor-element-e1ccdbd.elementor-view-default .elementor-icon {
    fill: #F0F5FD;
    color: #F0F5FD;
    border-color: #F0F5FD;
}

.elementor-1989 .elementor-element.elementor-element-e1ccdbd.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-1989 .elementor-element.elementor-element-e1ccdbd.elementor-view-stacked .elementor-icon:hover {
    background-color: #F0F5FD;
}

.elementor-1989 .elementor-element.elementor-element-e1ccdbd.elementor-view-framed .elementor-icon:hover,
.elementor-1989 .elementor-element.elementor-element-e1ccdbd.elementor-view-default .elementor-icon:hover {
    fill: #F0F5FD;
    color: #F0F5FD;
    border-color: #F0F5FD;
}

.elementor-1989 .elementor-element.elementor-element-e1ccdbd {
    --icon-box-icon-margin: 36px;
}

.elementor-1989 .elementor-element.elementor-element-e1ccdbd .elementor-icon {
    font-size: 42px;
    padding: 28px;
}

.elementor-1989 .elementor-element.elementor-element-e1ccdbd .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-1989 .elementor-element.elementor-element-e1ccdbd .elementor-icon-box-title {
    color: var(--e-global-color-secondary);
}

.elementor-1989 .elementor-element.elementor-element-e1ccdbd .elementor-icon-box-title,
.elementor-1989 .elementor-element.elementor-element-e1ccdbd .elementor-icon-box-title a {
    font-size: 18px;
    font-weight: 600;
    line-height: 2.4em;
}

.elementor-1989 .elementor-element.elementor-element-e1ccdbd>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-1989 .elementor-element.elementor-element-4209ee3>.elementor-element-populated,
.elementor-1989 .elementor-element.elementor-element-4209ee3>.elementor-element-populated>.elementor-background-overlay,
.elementor-1989 .elementor-element.elementor-element-4209ee3>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-1989 .elementor-element.elementor-element-4209ee3>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1989 .elementor-element.elementor-element-4209ee3>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1989 .elementor-element.elementor-element-c6564f9 {
    padding: 0px 30px 100px 30px;
}

.elementor-1989 .elementor-element.elementor-element-8500e41 .logos__item {
    height: 75px;
}

.elementor-1989 .elementor-element.elementor-element-eb96867 {
    overflow: hidden;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1989 .elementor-element.elementor-element-eb96867:not(.elementor-motion-effects-element-type-background),
.elementor-1989 .elementor-element.elementor-element-eb96867>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F9FCFF;
}

.elementor-1989 .elementor-element.elementor-element-eb96867>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1989 .elementor-element.elementor-element-c624c4e>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1989 .elementor-element.elementor-element-b2d5b09 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-1989 .elementor-element.elementor-element-b2d5b09>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1989 .elementor-element.elementor-element-22a56f9>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1989 .elementor-element.elementor-element-22a56f9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 100px 0px 100px 0px;
}

.elementor-1989 .elementor-element.elementor-element-22a56f9>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-1989 .elementor-element.elementor-element-1c9bd8c.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1989 .elementor-element.elementor-element-1c9bd8c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1989 .elementor-element.elementor-element-1c9bd8c>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 20px;
}

.elementor-1989 .elementor-element.elementor-element-1c9bd8c:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-1989 .elementor-element.elementor-element-1c9bd8c>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    /* background-image: url("{{url('admin/img/about',$as->image)}}"); */
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-1989 .elementor-element.elementor-element-1c9bd8c>.elementor-element-populated,
.elementor-1989 .elementor-element.elementor-element-1c9bd8c>.elementor-element-populated>.elementor-background-overlay,
.elementor-1989 .elementor-element.elementor-element-1c9bd8c>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-1989 .elementor-element.elementor-element-1c9bd8c>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1989 .elementor-element.elementor-element-1c9bd8c>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1989 .elementor-element.elementor-element-32f5e21 {
    text-align: left;
    width: 100%;
    max-width: 100%;
}

.elementor-bc-flex-widget .elementor-1989 .elementor-element.elementor-element-bcf9592.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
}

.elementor-1989 .elementor-element.elementor-element-bcf9592.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-1989 .elementor-element.elementor-element-bcf9592>.elementor-element-populated {
    margin: 0px 0px 0px 40px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 40px;
    padding: 0px 0px 0px 0px;
}

.elementor-1989 .elementor-element.elementor-element-a675cc7 .elementor-heading-title {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4em;
    letter-spacing: 0px;
}

.elementor-1989 .elementor-element.elementor-element-a675cc7>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1989 .elementor-element.elementor-element-9a44753 .elementor-heading-title {
    font-size: 16px;
    font-style: italic;
    line-height: 1.8em;
}

.elementor-1989 .elementor-element.elementor-element-9a44753>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-1989 .elementor-element.elementor-element-4d8e1e2>.elementor-widget-container {
    padding: 10px 0px 0px 0px;
}

.elementor-1989 .elementor-element.elementor-element-057cb35 .elementor-progress-wrapper .elementor-progress-bar {
    background-color: #6AD5DB;
}

.elementor-1989 .elementor-element.elementor-element-057cb35 .elementor-progress-wrapper {
    background-color: #F0F5FD;
    border-radius: 100px;
    overflow: hidden;
}

.elementor-1989 .elementor-element.elementor-element-057cb35 .elementor-progress-bar {
    height: 25px;
    line-height: 25px;
}

.elementor-1989 .elementor-element.elementor-element-057cb35>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1989 .elementor-element.elementor-element-ea348f4 .elementor-progress-wrapper .elementor-progress-bar {
    background-color: #6AD5DB;
}

.elementor-1989 .elementor-element.elementor-element-ea348f4 .elementor-progress-wrapper {
    background-color: #F0F5FD;
    border-radius: 100px;
    overflow: hidden;
}

.elementor-1989 .elementor-element.elementor-element-ea348f4 .elementor-progress-bar {
    height: 25px;
    line-height: 25px;
}

.elementor-1989 .elementor-element.elementor-element-ea348f4>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-1989 .elementor-element.elementor-element-1cb729e .elementor-progress-wrapper .elementor-progress-bar {
    background-color: #6AD5DB;
}

.elementor-1989 .elementor-element.elementor-element-1cb729e .elementor-progress-wrapper {
    background-color: #F0F5FD;
    border-radius: 100px;
    overflow: hidden;
}

.elementor-1989 .elementor-element.elementor-element-1cb729e .elementor-progress-bar {
    height: 25px;
    line-height: 25px;
}

.elementor-1989 .elementor-element.elementor-element-1cb729e>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-1989 .elementor-element.elementor-element-1f1165d .elementor-progress-wrapper .elementor-progress-bar {
    background-color: #6AD5DB;
}

.elementor-1989 .elementor-element.elementor-element-1f1165d .elementor-progress-wrapper {
    background-color: #F0F5FD;
    border-radius: 100px;
    overflow: hidden;
}

.elementor-1989 .elementor-element.elementor-element-1f1165d .elementor-progress-bar {
    height: 25px;
    line-height: 25px;
}

.elementor-1989 .elementor-element.elementor-element-1f1165d>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-1989 .elementor-element.elementor-element-7c383ed {
    padding: 0px 30px 0px 30px;
}

@media(max-width:1024px) {
    .elementor-1989 .elementor-element.elementor-element-1c9bd8c>.elementor-element-populated {
        margin: 0px 0px 60px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-1989 .elementor-element.elementor-element-32f5e21>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-1989 .elementor-element.elementor-element-4d8e1e2>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-1989 .elementor-element.elementor-element-057cb35>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-1989 .elementor-element.elementor-element-ea348f4>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-1989 .elementor-element.elementor-element-1cb729e>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-1989 .elementor-element.elementor-element-1f1165d>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-1989 .elementor-element.elementor-element-ff35d45 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1989 .elementor-element.elementor-element-cc5388b {
        padding: 40px 0px 30px 0px;
    }

    .elementor-1989 .elementor-element.elementor-element-078b324>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1989 .elementor-element.elementor-element-bc48a9c {
        --icon-box-icon-margin: 0px;
    }

    .elementor-1989 .elementor-element.elementor-element-6a99b52 {
        --icon-box-icon-margin: 0px;
    }

    .elementor-1989 .elementor-element.elementor-element-e1ccdbd {
        --icon-box-icon-margin: 0px;
    }

    .elementor-1989 .elementor-element.elementor-element-22a56f9 {
        padding: 30px 0px 40px 0px;
    }

    .elementor-1989 .elementor-element.elementor-element-1c9bd8c>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-1989 .elementor-element.elementor-element-32f5e21 {
        text-align: left;
    }

    .elementor-1989 .elementor-element.elementor-element-32f5e21 img {
        width: 100%;
    }

    .elementor-1989 .elementor-element.elementor-element-bcf9592>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-1989 .elementor-element.elementor-element-a675cc7 {
        width: 100%;
        max-width: 100%;
    }

    .elementor-1989 .elementor-element.elementor-element-4d8e1e2>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-1989 .elementor-element.elementor-element-7c383ed {
        padding: 0px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-1989 .elementor-element.elementor-element-c624c4e {
        width: 100%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-1989 .elementor-element.elementor-element-078b324 {
        width: 100%;
    }

    .elementor-1989 .elementor-element.elementor-element-4209ee3 {
        width: 100%;
    }

    .elementor-1989 .elementor-element.elementor-element-1c9bd8c {
        width: 100%;
    }

    .elementor-1989 .elementor-element.elementor-element-bcf9592 {
        width: 100%;
    }
}